# Ignorar arquivos específicos do Maven no backend
VortekPonto/backend/.mvn/
VortekPonto/backend/mvnw
VortekPonto/backend/mvnw.cmd
VortekPonto/backend/HELP.md

# Ignorar a pasta de build do Maven
VortekPonto/backend/target/

# Ignorar arquivos de log do backend
*.log

# Arquivos de configuração do Maven que não são necessários
!VortekPonto/.mvn/wrapper/maven-wrapper.jar

# Ignorar IDEs e configurações específicas do editor (IntelliJ, VS Code, etc.)
.idea/
*.iws
*.iml
*.ipr
.classpath
.project
.settings/
.vscode/

# Arquivos temporários do Eclipse no backend
VortekPonto/backend/.metadata/
/*.log
/.classpath
/.project

# Arquivos de sistema (macOS e Windows)
.DS_Store
Thumbs.db

# Frontend - Angular

# Ignorar node_modules no frontend
VortekPonto/frontend/node_modules/

# Ignorar a pasta de build do Angular
VortekPonto/frontend/dist/
VortekPonto/frontend/.angular/

# Ignorar logs de dependências do frontend
npm-debug.log
yarn-error.log

# Miscellaneous (arquivos temporários, cache, etc.)
/VortekPonto/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
