[submodule "frontend"]
    path = frontend
    url = https://github.com/Vortek-API/frontend
	branch = main

[submodule "backend"]
    path = backend
    url = https://github.com/Vortek-API/backend
	branch = main
[submodule "docs"]
	path = docs
	url = https://github.com/Vortek-API/docs
    branch = main
