[submodule "frontend"]
    path = frontend
    url = https://github.com/Vortek-API/frontend
	branch = sprint2

[submodule "backend"]
    path = backend
    url = https://github.com/Vortek-API/backend
	branch = sprint2
[submodule "docs"]
	path = docs
	url = https://github.com/Vortek-API/docs.git
    branch = sprint2
